<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>welcome </title>
</head>
<body>
  <h1>contents</h1>
  <%= message %>
  <div>
    <span>UserID</span>
    <span><%= userid %></span>
  </div>
  <div>
    <span>password</span>
    <span><%= password %></span>
  </div>
</body>
